// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.hidden {
    display: none;
}

.generate-control {
    vertical-align: middle;
    display: inline-block;
    width: 74%;
}

.autocomplete-suggestions {
    padding: 5px;
    background: #FFF;
    box-shadow: 3px 3px 0 0 #CCC;
    margin-left: -38px;
    border: 1px solid #999;
    width: 165px !important;

    .autocomplete-group {
        font-size: 1.1em;
    }
    .autocomplete-suggestion {
        padding: 3px
    }
    .autocomplete-selected {
        background-color: #337AB7;
        color: #FFF;
    }
}

.bootstrap-tagsinput {
    width: 100%;
}
.tt-hint {
    color: #AAA;
}
.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.tt-dataset {
    div {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: #333333;
    }
    div:hover,
    div:focus,
    &.tt-cursor p {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #428bca;
    }
}